asgiref==3.5.2
Django==3.2.16
django-appconf==1.0.5
django-ckeditor==6.5.1
django-compressor==4.3
django-filter==22.1
django-js-asset==2.0.0
django-markdownx==3.0.1
django-mptt==0.13.4
django-mptt-admin==2.1.0
django-solo==2.0.0
django-tinymce==3.5.0
Markdown==3.3.6
Pillow==9.3.0
python-decouple==3.7
pytz==2022.7
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.3
tzdata==2022.6
whitenoise==6.3.0
