{% extends "admin/change_list.html" %} 
{% load i18n %} 
{% load admin_urls %}
{% block object-tools-items %}
    {{ block.super }}
    {% if has_export_permission %}
        {% comment %} <li><a href="{% url opts|admin_urlname:'export' %}{{cl.get_query_string}}" class="export_link">{% trans "Export" %}</a></li> {% endcomment %}
    {% endif %}

    {% if has_import_permission %}
        {% comment %} <li><a href='{% url opts|admin_urlname:"import" %}' class="import_link">{% trans "Import" %}</a></li> {% endcomment %}
    {% endif %}
    <li>
        {% comment %} <a class="historylink" href="{% url 'admin:my_view' %}">{% trans 'Multi Upload Photos' %}</a> {% endcomment %}
    </li>
{% endblock %}