{% extends "base.html" %}
{% load static %}

{% block extra_seo %}
	<title>{% if articel.meta_title %}{{articel.meta_title}}{% else %}{{articel.title}}{% endif %} </title> 
	<meta name="description" content="{% if articel.meta_description %} {{articel.meta_description}} {% else %}{{articel.text}}{% endif %}">
	<meta name="keywords" content="{% if articel.meta_keyword %}{{articel.meta_keyword}}{% else %}{{articel.name}}{% endif %}">
{% endblock extra_seo %}
    

{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/5.png' %}); transform: scaleX(-1);">
    	<div class="auto-container">
        	<h2>تفاصيل المقال</h2>
            <ul class="page-breadcrumb" dir="rtl">
                <li class="page-breadcrumb" dir="rtl">تفاصيل المقال</li>
            	<li dir="rtl"><a href="{% url 'core:index' %}">&nbsp; الرئيسية</a></li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	<!--article Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-12 col-lg-12 col-md-12 col-sm-12">
                	<div class="blog-single padding-right">
                        <h2 class="text-dark">{{article.title}}</h2>
                        <h5>{{article.chapo}}</h5>
						<div class="inner-box my-3">
							<div class="image-box">
                                <figure class="image"><a href="{{article.get_absolute_url}}">{% if article.first_image %}<img class="default-img" src="{{article.first_image}}" alt="" />{% else %}<img src="{% static 'images/background/5.png' %}" alt="">  {% endif %}</a></figure>
                                <span class="date">{{article.date|date:'Y-m-d'}}</span>
                            </div>
                            <div class="lower-content">
                                <div class="post-meta">
                                    <ul class="post-info clearfix">
                                        <li><a href="blog-detail.html">{{article.author}}</a></li>
                                        <li><a href="{{article.category.get_absolute_url}}">{{article.category}}</a></li>
                                    </ul>
                                </div>
								<div class="lower-box" dir="rtl">
									{% comment %} <h3>{{article.title}}</h3> {% endcomment %}
									<div class="text">
                                        {{article.texte_top|safe}}
										<h4>&quot;{{article.quote}}&quot;</h4>
										<div class="row clearfix">
											<div class="col-md-6 col-sm-6 col-xs-12">
                                                <figure class="image"><a href="{{article.get_absolute_url}}">{% if article.images.all.count > 2 %}<img class="default-img" src="{{article.first_image}}" alt="" />{% else %}<img src="{% static 'images/background/5.png' %}" alt="">  {% endif %}</a></figure>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12">
                                                {{article.texte_image|safe}}
											</div>
										</div>
                                        {{article.texte_bottom|safe}}
									</div>
								</div>
							</div>
						</div>
                    </div>
				</div>
            </div>
        </div>
    </div>
    <section class="services-section-three">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>  اقرأ أيضًا</h2>
			</div>
			<div class="row clearfix">
				{% for article in related_articles %}	
					{% include 'partials/article_card.html' %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock content %}
