{% extends "base.html" %}
{% load static %}
{% block extra_seo %}
    {% comment %} {% if selected_category %}     {% endcomment %}
	<title>{% if category.meta_title %}{{category.meta_title}}{% else %}{{category.name}}{% endif %} </title> 
	<meta name="description" content="{% if category.meta_description %} {{category.meta_description}} {% else %}{{category.name}}{% endif %}">
	<meta name="keywords" content="{% if category.meta_keyword %}{{category.meta_keyword}}{% else %}{{category.name}}{% endif %}">
    {% comment %} {% endif %} {% endcomment %}
{% endblock extra_seo %}
{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/5.jpg); transform: scaleX(-1);">
    	<div class="auto-container">
			{% if category.parent %}
        	<h2>{{category.parent}}</h2>
			{% endif %}
            <ul class="page-breadcrumb"dir="rtl">
                <li class="page-breadcrumb" >{{category.name}}</li>
            	<li><a href="{% url 'core:articles' %}">الرئيسية</a></li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
		<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-8 col-lg-8 col-md-12 col-sm-12">
                	<div class="blog-classic padding-right">

                		<!-- News Block Three-->
                        {% for article in category_of_article.article.all %}
							{% if article.actif %}
							
							{% comment %} {% else %} {% endcomment %}
								<div class="news-block-three">
									<div class="inner-box">
										<div class="image-box">
											<figure class="image"><a href="{{article.get_absolute_url}}"><img src="{{article.image.image.url}}" alt="{{article.image.title}}"></a></figure>
											<span class="date">{{article.created}}</span>
										</div>
										<div class="lower-content">
											<div class="post-meta">
												<ul class="post-info clearfix">
													<li><a href="blog-detail.html">By : admin</a></li>
													<li><a href="blog-detail.html">interior, furniture</a></li>
													{% comment %} <li><a href="blog-detail.html">Comments: 8</a></li> {% endcomment %}
												</ul>
											</div>
											<h3><a href="{{article.get_absolute_url}}" dir="auto">{{article.title}}</a></h3>
											<div class="text" name="description" >{{article.description_min|truncatewords:40}}</div>
											{% comment %} {{article.description|safe|truncatewords:40}} {% endcomment %}
											<div class="link-box"><a href="{{article.get_absolute_url}}" class="theme-btn read-more">اقرء المزيد</a></div>
										</div>
									</div>
								</div>
							{% endif %}
                        {% endfor %}

		                
						<!-- News Block Three-->
		                <div class="news-block-three">
		                    <div class="inner-box">
		                        <div class="image-box">
		                            <figure class="image"><a href="blog-detail.html"><img src="images/resource/news-5.jpg" alt=""></a></figure>
		                            <span class="date">9 may 2019</span>
		                        </div>
		                        <div class="lower-content">
		                            <div class="post-meta">
		                            	<ul class="post-info clearfix">
			                                <li><a href="blog-detail.html">By : admin</a></li>
			                                <li><a href="blog-detail.html">interior, furniture</a></li>
			                                <li><a href="blog-detail.html">Comments: 8</a></li>
			                            </ul>
			                        </div>
		                            <h3><a href="blog-detail.html">How to make best home interior ourself</a></h3>
		                            <div class="text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur velit esse cillum Duis aute irure dolor in reprehenderit in voluptate ...</div>
			                        <div class="link-box"><a href="blog-detail.html" class="theme-btn read-more">Read more</a></div>
		                        </div>
		                    </div>
		                </div>

					</div>
					
					<!--Styled Pagination-->

					{% comment %} <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
					 {% endcomment %}
					<ul class="styled-pagination">
						{% if page_obj.has_previous %}
							<li><a href="?page={{ page_obj.previous_page_number }}"><span class="fa fa-angle-left"></span></a></li>
						{% endif %}

						{% for article in page_obj.paginator %}
						
							<li 
								{% if article.number is page_obj.number %}
								class="active"
								{% endif %}
							>
							<a href="?page={{ article.number }}" > {{ article.number }} </a>
							</li>
						{% endfor %}
						{% if page_obj.has_next %}
							<!-- <a href="?page={{ page_obj.next_page_number }}">next</a> -->
							<li><a href="?page={{ page_obj.next_page_number }}"><span class="fa fa-angle-right"></span></a></li>
						{% endif %}

					</ul>                
				</div>
				
				<!--Sidebar Side-->
				<div class="sidebar-side col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar">
                        
						<!-- Search -->
                        <div class="sidebar-widget search-box">
                        	<form method="post" action="templateshub.net">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="ابحث هنا" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
						</div>
						
						<!--Blog Category Widget-->

                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>التصنيفات</h2>
                            </div>
						{% for category in categories %}
                            <ul class="cat-list">
                                <li><a href="{{category.get_absolute_url}}?category={{category.id}}">{{category.name}}</a></li>
                            </ul>
                        {% endfor %}
                        </div>
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>اخر الاخبار</h2></div>
                            {% for article in articles %}
								{% if article.actif %}
								
									<article class="post">
										<figure class="post-thumb"><a href="{{article.get_absolute_url}}"><img src="{{article.image.image.url}}" alt="{{article.image.title}}"></a></figure>
										<div class="text"><a href="{{article.get_absolute_url}}">{{article.title}}</a></div>
										{% if article.updated %}
											<div class="post-info">{{article.updated}}</div>
										{% else %}
											<div class="post-info">{{article.created}}</div>
										{% endif %}
									</article>
								{% endif %}
                            {% endfor %}

                        </div>
						
						{% comment %} <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h2>Tags</h2></div>
                            <a href="#">Interior Tips</a>
                            <a href="#">Lighting</a>
                            <a href="#">Designs</a>
                        </div> {% endcomment %}

					</aside>
				</div>
				
			</div>
		</div>
	</div>


{% endblock content %}
