{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <!-- Preloader --> 
    <div class="preloader"></div>
	<section class="main-slider">
		<div class="slider-box">
			<!-- Banner Carousel -->
			<div class="banner-carousel owl-theme owl-carousel">
				{% for slide in sliders %} 
					<!-- Slide -->
					<div class="slide">
						{% if slide.photo %}
							<div class="image-layer" style="background-image:url({{slide.photo.url}})"></div>
						{% else %}
								<div class="image-layer" style="background-image:url(static/imagesbackground/1.jpg)"></div>
						{% endif %} 
						<div class="auto-container">
							<div class="content">
								{% if  slide.title %} <h2>{{slide.title}}</h2>{% endif %}
								{% comment %} {% if  slide.sub_title %}<div class="text" dir="rtl" >{{slide.sub_title}}</div>{% endif %} {% endcomment %}
								<div class="btns-box">
									<a href="{{slide.url}}" class="theme-btn btn-style-one"><span class="txt"> اقرأ المزيد </span></a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			
		</div>
	</section>
	<!-- End Banner Section -->
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-8 col-lg-8 col-md-12 col-sm-12">
                	<div class="blog-classic padding-right">
						<!-- News Block Three--> 
                        {% for article in homepage_articles %}
							{% include 'partials/article_block.html' %}
                        {% endfor %}
					</div>
					
					
					{% comment %} <ul class="styled-pagination">
						{% if page_obj.has_previous %}
							<li><a href="?page={{ page_obj.previous_page_number }}"><span class="fa fa-angle-left"></span></a></li>
						{% endif %}

						{% for article in page_obj.paginator %}
						
							<li 
								{% if article.number is page_obj.number %}
								class="active"
								{% endif %}
							>
							<a href="?page={{ article.number }}" > {{ article.number }} </a>
							</li>
						{% endfor %}
						{% if page_obj.has_next %}
							<!-- <a href="?page={{ page_obj.next_page_number }}">next</a> -->
							<li><a href="?page={{ page_obj.next_page_number }}"><span class="fa fa-angle-right"></span></a></li>
						{% endif %}

					</ul>                 {% endcomment %}
				</div>
				
				<!--Sidebar Side-->
				<div class="sidebar-side col-xl-4 col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar">
						<!-- Search -->
                        <div class="sidebar-widget search-box">
                        	<form method="post" action="templateshub.net">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="ابحث هنا" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
						</div>
						
						<!--Blog Category Widget-->

                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>التصنيفات</h2>
                            </div>
						{% for category in categories %}
						<div x-data="{ open: false }"> <button @click="open = ! open"> <div >  <i class="fa fa-arrow-down fa-stack-1x" ></i></div> 	</button>  
						{% comment %} <div x-data="{ open: false }"> <button @click="open = ! open"> <div >  button </button>   {% endcomment %}
                            {% if category.is_root_node %}
								<ul class="cat-list" dir="ltr">
                                	<li class="" >
									
									<a href="{{category.get_absolute_url}}">{{category.name}}</a>
									</li>
                            	</ul> 
							{% comment %} {% elif category.children.is_root_node %} {% endcomment %}
							{% else %}
							<div x-show="open" @click.outside="open = false" >
									<div >  <i class="fa fa-arrow-down fa-stack-1x" ></i></div>
									<li class=""><a href="{{category.get_absolute_url}}"> {{category.name}}</a>
											<ul>
												{% for node in category.children.all %}
													{{ node.category.children.count }}
													{% if  node.children.count > 0 %}
														{% comment %} <div>  <i class="fa fa-arrow-down fa-stack-1x" ></i></div> {% endcomment %}
														<li class=""><a href="{{node.get_absolute_url}}"> {{node.name}}</a>

															<ul>
																{% for subact in node.children.all %}
																<li><a href="{{subact.get_absolute_url}}"> {{subact.name}}</a></li>
																{% endfor %}
															</ul>
														</li>
													{% else %}
													<li><a href="{{node.get_absolute_url}}">  {{ node.name }}</a></li>
													{% endif %} 
												{% endfor %}
											</ul>
										</li>

									</div>
									{% endif %}
									</div>
								{% endfor %}

                        </div>
						
						<!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title"><h2>اخر الاخبار</h2></div>
                            {% for article in homepage_article_list %}
								{% include 'partials/article_block_list.html' %}
                            {% endfor %}

                        </div>
						
						{% comment %} <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title"><h2>Tags</h2></div>
                            <a href="#">Interior Tips</a>
                            <a href="#">Lighting</a>
                            <a href="#">Designs</a>
                        </div> {% endcomment %}

					</aside>
				</div>
				
			</div>
		</div>
	</div>
	<section class="services-section-three">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>اخر الاخبار</h2>
			</div>
			<div class="row clearfix">
				{% for article in homepage_card_articles %}	
					{% include 'partials/article_card.html' %}
				{% endfor %}
			</div>
		</div>
	</section>
	
</div>  
<!--End pagewrapper-->

{% endblock content %}
