{% load static %}
{% load mptt_tags %}


{% comment %} <div x-data="{ open: false }"> <button @click="open = ! open"> <div >  <i class="fa fa-arrow-down fa-stack-1x" ></i></div> 	</button>   {% endcomment %}
    {% recursetree categories %}
        {% if not node.is_leaf_node %}
            <ul class="cat-list" dir="ltr">
                <li class="">
                    <a href="{{node.get_absolute_url}}"> <<<< {{node.name}}</a>
                </li>
            </ul> 
        {% comment %} {% else %} {% endcomment %}
            {% comment %} <div x-show="open" @click.outside="open = false" ><div >  <i class="fa fa-arrow-down fa-stack-1x" ></i></div>  {% endcomment %}
                <li class=""><a href="{{category.get_absolute_url}}"> {{category.name}}</a>
                    <ul>
                        {% for node in category.children.all %}
                            {{ node.category.children.count }}
                            {% if  node.children.count > 0 %}
                                <li class=""><a href="{{node.get_absolute_url}}">{{node.name}}</a>
                                    <ul>
                                        {% for subact in node.children.all %}
                                        <li><a href="{{subact.get_absolute_url}}">{{subact.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{node.get_absolute_url}}"> {{ node.name }}</a></li>
                            {% endif %} 
                        {% endfor %}
                    </ul>
                </li>
            {% comment %} </div> {% endcomment %}
        {% endif %}
    {% endrecursetree %}

{% comment %} </div> {% endcomment %}