{% load static %}
  
  {% block content %}
  
        	<!-- Footer for index2-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="{% url 'core:index' %}">{% if business.logo_negatif %}<img src="{{business.logo_negatif.url}}" alt="" /></a>{% endif %}
                                    </div>
                                    {% if business.mini_about %}<div class="text"> {{business.mini_about}}</div>{% endif %}
                                    <ul class="social-icons">
										{% if business.linkedin %}
										<li><a href="{{business.linkedin}}"><img class="social-img" src="{% static 'images/icons/icons-linkedin-circled.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.facebook %}
										<li> <a href="{{business.facebook}}"><img class="social-img" src="{% static 'images/icons/icon-facebook-white.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.insta %}
										<li><a href="{{business.insta}}"><img class="social-img" src="{% static 'images/icons/icon-instagram-white.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.snapchat %}
										<li><a href="{{business.snapchat}}"><img class="social-img" src="{% static 'images/icons/icons-snapchat.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.tiktok %}
										<li><a href="{{business.tiktok}}"><img class="social-img" src="{% static 'images/icons/icons-tiktok.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.twitter %}
										<li><a href="{{business.twitter}}"><img class="social-img" src="{% static 'images/icons/icon-twitter-white.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.pinterest %}
										<li><a href="{{business.pinterest}}"><img class="social-img" src="{% static 'images/icons/icon-pinterest-white.svg' %}" alt=""></a></li>
										{% endif %}
										{% if business.youtube %}
										<li><a href="{{business.youtube}}"><img class="social-img" src="{% static 'images/icons/icon-youtube-white.svg' %}" alt=""></a></li>
										{% endif %}
                                    </ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                	<h2>روابط أخرى</h2>
									<div class="widget-content">
										<ul class="list">
											<li><a href="{% url 'core:about'  %}"> معلومات عنا</a></li>
											{% for category in footer_categories  %}
                                        		<li><a href="{{category.get_absolute_url}}"> {{category.name}}</a></li>
											{% endfor %}
                                        </ul>
                                    </div>
								</div>
							</div>
						
						</div>
					</div>
					
					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-8 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<a href="{% url 'core:contact'  %}"><h2>  اتصل بنا  </h2></a>
									<div class="widget-content">
										<a dir="rtl" href="tel:1800-574-9687" class="contact-number">{{business.phone}}</a>
										<ul>
											<li>{{business.address}}</li>
											<li> <a href="mailto:{{business.email}}"> {{business.email}}</a> </li>
											<li><a href="{% url 'core:contact'  %}"  > نموذج الاتصال </a></li>
										</ul>

									</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            {% comment %} <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                	<h2>Newsletter</h2>
									<div class="text">Get Special offers & Discounts</div>
									<!-- Newsletter Form -->
									<div class="newsletter-form">
										<form method="post" action="templateshub.net">
											<div class="form-group">
												<input type="email" name="email" value="" placeholder="Enter your email address" required>
												<button type="submit" class="theme-btn btn-style-one"><span class="txt">Subscribe</span></button>
											</div>
										</form>
									</div>
								</div>
							</div> {% endcomment %}
						
						</div>
					</div>
					
				</div>
			</div>
			
			<!--Footer Bottom-->
            <div class="footer-bottom clearfix">
                <div class="pull-left">
                    <div class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved {{business.name}} - Powered by <a  href="https://octopus-consulting.com" target="_blank">OCTOPUS CONSULTING</a></div>
                </div>
            </div>
			
		</div>
	</footer>
{% comment %} end Footer {% endcomment %}

    <!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="templateshub.net">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            {% comment %} <h3>Recent Search Keywords</h3> 
             <ul class="recent-searches">
                <li><a href="#">Home Interiors</a></li>
                <li><a href="#">Offices Interiors</a></li>
                <li><a href="#">Showroom Interiors</a></li>
                <li><a href="#">Building Interiors</a></li>
                <li><a href="#">Shops Interiors</a></li>
            </ul> {% endcomment %}
        
        </div>
        
    </div>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

  {% endblock content %}
