{% load static %}
{% load mptt_tags %}
{% block content %}
<header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container clearfix">
                <div class="top-left clearfix">
                    <div class="text">
                        {% if business.linkedin %}
                        <a href="{{business.linkedin}}"><img class="social-img" src="{% static 'images/icons/icons-linkedin-circled.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.facebook %}
                         <a href="{{business.facebook}}"><img class="social-img" src="{% static 'images/icons/icon-facebook-white.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.insta %}
                        <a href="{{business.insta}}"><img class="social-img" src="{% static 'images/icons/icon-instagram-white.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.snapchat %}
                        <a href="{{business.snapchat}}"><img class="social-img" src="{% static 'images/icons/icons-snapchat.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.tiktok %}
                        <a href="{{business.tiktok}}"><img class="social-img" src="{% static 'images/icons/icons-tiktok.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.twitter %}
                        <a href="{{business.twitter}}"><img class="social-img" src="{% static 'images/icons/icon-twitter-white.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.pinterest %}
                        <a href="{{business.pinterest}}"><img class="social-img" src="{% static 'images/icons/icon-pinterest-white.svg' %}" alt=""></a>
                        {% endif %}
                        {% if business.youtube %}
                        <a href="{{business.youtube}}"><img class="social-img" src="{% static 'images/icons/icon-youtube-white.svg' %}" alt=""></a>
                        {% endif %}
                    </div>
					
                </div>
                <div class="top-right clearfix">
                    <!-- Info List -->
					<ul class="info-list">
                        <li><a href="{% url 'core:contact'  %}">اتصل بنا </a></li>
						{% comment %} <li class="quote"><a href=""> انضم إلينا</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo "> <a href="{% url 'core:index' %}">{% if business.logo %}<img class="logo-img" src="{{business.logo.url}}" alt="" /></a>{% endif %}</div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix" >
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent" >
                                <ul class="navigation clearfix" dir="rtl">
                                    {% recursetree categories %}
                                        {% if not node.is_leaf_node %}
                                            {% if node.actif %}
                                                <li class="dropdown"><a href="{{node.get_absolute_url}}"> {{node.name}}</a>
                                                    <ul>
                                                        {% for sub_cat in node.children.all %}
                                                            {% if not sub_cat.is_leaf_node %}
                                                                <li class="dropdown"><a href="{{sub_cat.get_absolute_url}}"> {{sub_cat.name}}</a>
                                                                    <ul>
                                                                        {% for child in sub_cat.children.all %}
                                                                        {% if  child.is_leaf_node %}
                                                                            <li><a href="{{child.get_absolute_url}}">  {{child.name}}</a></li>
                                                                        {% else %}
                                                                            <li class="dropdown" ><a href="{{sub_cat.get_absolute_url}}"> {{child.name}}</a>
                                                                                <ul class="dropdown">
                                                                                    {% for gran_child in child.children.all %}
                                                                                        <li class="dropdown"><a href="{{child.get_absolute_url}}">  {{gran_child.name}}</a></li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% else %}
                                                                <li><a href="{{sub_cat.get_absolute_url}}">  {{ sub_cat.name }}</a></li>
                                                            {% endif %} 
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %} 
                                        {% else %}
                                            <li><a href="{{node.get_absolute_url}}">  {{node.name}}</a></li>
                                        {% endif %} 
                                    {% endrecursetree %}
                                    <li><a href="{% url 'core:index' %}"> الرئيسية</a></li>
                                </ul>
                                {% comment %} <ul class="navigation clearfix" dir="rtl">
                                    {% for category in categories %}
                                        {% for node in category.children.all %}
                                            {% if node.is_root_node %} 
                                                <li><a href="{{category.get_absolute_url}}"> {{category.name}}</a></li>
                                            {% else %}
                                                <li class="dropdown"><a href="{{category.get_absolute_url}}"> {{category.name}}</a>
                                                    <ul>
                                                        {% for node in category.children.all %}
                                                            {{ node.category.children.count }}
                                                            {% if  node.children.count > 0 %}
                                                                <li class="dropdown"><a href="{{node.get_absolute_url}}"> {{node.name}}</a>
                                                                    <ul>
                                                                        {% for subact in node.children.all %}
                                                                        <li><a href="{{subact.get_absolute_url}}"> {{subact.name}}</a></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                            {% else %}
                                                            <li><a href="{{node.get_absolute_url}}">  {{ node.name }}</a></li>
                                                            {% endif %} 
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %} 
                                        {% endfor %}
                                    {% endfor %}
                                    <li><a href="{% url 'core:index' %}"> الرئيسية</a></li>
                                </ul> {% endcomment %}
                            </div>
                        </nav>
                        <!-- Main Menu End-->
						<!-- Outer Box -->
                        <div class="outer-box clearfix">
                            <div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                {% comment %} <div class="nav-logo"><a href="index-2.html"><img src="images/logo.png" alt="" title=""></a></div> {% endcomment %}
                <div class="logo "> <a href="{% url 'core:index' %}">{% if business.logo %}<img class="logo-img" src="{{business.logo.url}}" alt="" /></a>{% endif %}</div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						{% if business.linkedin %}
                        <li><a href="{{business.linkedin}}"><img class="social-img" src="{% static 'images/icons/icons-linkedin-circled.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.facebook %}
                        <li> <a href="{{business.facebook}}"><img class="social-img" src="{% static 'images/icons/icon-facebook-white.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.insta %}
                        <li><a href="{{business.insta}}"><img class="social-img" src="{% static 'images/icons/icon-instagram-white.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.snapchat %}
                        <li><a href="{{business.snapchat}}"><img class="social-img" src="{% static 'images/icons/icons-snapchat.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.tiktok %}
                        <li><a href="{{business.tiktok}}"><img class="social-img" src="{% static 'images/icons/icons-tiktok.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.twitter %}
                        <li><a href="{{business.twitter}}"><img class="social-img" src="{% static 'images/icons/icon-twitter-white.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.pinterest %}
                        <li><a href="{{business.pinterest}}"><img class="social-img" src="{% static 'images/icons/icon-pinterest-white.svg' %}" alt=""></a></li>
                        {% endif %}
                        {% if business.youtube %}
                        <li><a href="{{business.youtube}}"><img class="social-img" src="{% static 'images/icons/icon-youtube-white.svg' %}" alt=""></a></li>
                        {% endif %}
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
{% endblock content %}
