{% load static %}
{% load mptt_tags %}

<style>
    .cat-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-btn {
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      padding: 10px;
    }

    .sub {
      margin-left: 10px;
      display: none;
    }

    .sub li {
      margin-bottom: 5px;
    }
  </style>

  <div class="sidebar">
    {% recursetree categories %}
        <ul class="cat-list" dir="ltr">
        {% if not node.is_leaf_node %}
        <li class="dropdown"><a href="{{node.get_absolute_url}}">{{node.name}}</a>
            <div class="dropdown-btn" ><span class="fa fa-angle-left"></span></div>
            <ul class="sub">
                {% for sub in node.children.all %}
                    {% if not sub.is_leaf_node %}
                    <li class="dropdown"><a href="{{node.get_absolute_url}}">{{sub.name}}</a>
                        <div class="dropdown-btn" ><span class="fa fa-angle-left"></span></div>
                        <ul class="sub">
                            {% for subcat in sub.children.all %}
                                {% if not subcat.is_leaf_node %}
                                    <li><a href="{{node.get_absolute_url}}">{{subcat.name}}</a></li>
                                    {% else %}
                                    <li><a href="{{node.get_absolute_url}}">{{subcat.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{node.get_absolute_url}}">{{sub.name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li><a href="{{node.get_absolute_url}}">{{node.name}}</a></li>
        {% endif %}
        </ul>
    {% endrecursetree %}
  </div>

  <script>
    var dropdownBtns = document.querySelectorAll('.dropdown-btn');
    dropdownBtns.forEach(function(btn) {
      btn.addEventListener('click', function() {
        var sub = this.parentElement.querySelector('.sub');
        sub.style.display = sub.style.display === 'none' ? 'block' : 'none';
      });
    });
  </script>